
@{
    ViewBag.Title = "Delete";
}

<form method="post">
    <h2>Вы уверены, что хотите удалить данного пользователя?</h2>
    <button type="submit" style="font-size: 20px" class="btn-danger">Да</button>
</form>

