
@{
    ViewBag.Title = "Emotional";
}
<body class="body-bg">
    <div class="other-tab">
        <h1 class="head">Эмоциональная сфера</h1>
        <a class="text-style btn btn-list-menu btn-danger" href="~/FamilyAlarmAnalysis/">
            Семейная тревожность
        </a>
        <a class="text-style btn btn-list-menu btn-warning" href="~/PersonaAnxietyScales/">
            Шкала личностной тревоги
        </a>
        <a class="text-style btn btn-list-menu btn-success" href="~/ClassroomRelationships/">
            Взаимоотношение в классе
        </a>
        <a class="text-style btn btn-list-menu btn-primary" href="~/ClassTeacheInformations/">
            Информация классного руководителя
        </a>
        <a class="text-style btn btn-list-menu btn-info" href="~/Self_esteem/">
            Самооценка
        </a>
    </div>
</body>

