@{
    ViewBag.Title = "Index";
}
<body class="body-bg">
    <div class="home-tab">
        <a class="btn btn-home-menu btn-danger text-style" href="~/Students/">
            Учащиеся
        </a>
        <a class="btn btn-home-menu btn-warning text-style" style="word-wrap: break-word" href="~/Home/Emotional">
            Эмоции
        </a>
        <a class="btn btn-home-menu btn-success text-style" href="~/Home/Intellectual">
            Личность
        </a>
        <a class="btn btn-home-menu btn-primary text-style" href="~/Home/Personal">
            Интеллект
        </a>
    </div>
</body>
