@{
    ViewBag.Title = "Index";
}
<div>
    <a class="float-left btn btn-home-menu btn-danger" href="~/Students/">
        Учащиеся
    </a>
    <a class="float-left btn btn-home-menu btn-warning" href="~/Home/Emotional">
        Эмоциональная
    </a>
    <a class="float-left btn btn-home-menu btn-success" href="~/Home/Intellectual">
        Личностная
    </a>
    <a class="float-left btn btn-home-menu btn-primary" href="~/Home/Personal">
        Интеллектуальная
    </a>    
</div>

