@Styles.Render("~/HomePage/css")
@{
    ViewBag.Title = "Index";
}
<div>
    <div class="float-left">
            <a class="btn btn-home-menu btn-danger" href="~/Students/">
                Учащиеся
            </a>
    </div>
    <div class="float-left">
        <a class="btn btn-home-menu btn-success" href="~/Home/Emotional">
            Учащиеся
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-home-menu btn-info" href="~/Home/Intellectual">
            Учащиеся
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-home-menu btn-block" href="~/Home/Personal">
            Учащиеся
        </a>
    </div>
</div>

