@{
    ViewBag.Title = "Index";
}
<div>
    <a class="btn btn-home-menu btn-danger text-style" href="~/Students/">
        Учащиеся
    </a>
    <a class="btn btn-home-menu btn-warning text-style" href="~/Home/Emotional">
        Эмоциональная
    </a>
    <a class="btn btn-home-menu btn-success text-style" href="~/Home/Intellectual">
        Личностная
    </a>
    <a class="btn btn-home-menu btn-primary text-style" href="~/Home/Personal">
        Интеллектуальная
    </a>    
</div>

