
@{
    ViewBag.Title = "Intellectual";
}
@Styles.Render("~/HomePage/css")

<div class="m-t-50">
    <a class="text-style btn btn-list-menu btn-info" href="~/Intellectual_6_Class/">
        6 класс
    </a>
    <a class="text-style btn btn-list-menu btn-danger" href="~/Intellectual_7_Class/">
        7 класс
    </a>
    <a class="text-style btn btn-list-menu btn-warning" href="~/Intellectual_8_Class/">
        8 класс
    </a>
    <a class="text-style btn btn-list-menu btn-primary" href="~/Intellectual_9_Class/">
        9 класс
    </a>
</div>
