
@{
    ViewBag.Title = "Personal";
}
<body class="body-bg">
<div class="other-tab">
    <h1 class="head">Персональная сфера</h1>
    <a class="text-style btn btn-list-menu btn-warning" href="~/PersonalProtagonistAizenkoes/">
        Персональный тест личности
    </a>
    <a class="text-style btn btn-list-menu btn-success" href="~/SchoolMotivations/">
        Школьная мотивация
    </a>
    <a class="text-style btn btn-list-menu btn-danger" href="~/Interests_Card_145/">
        Карта интересов 145
    </a>
    <a class="text-style btn btn-list-menu btn-info" href="~/Interests_Card_50/">
        Карта интересов 50
    </a>
    <a class="text-style btn btn-list-menu btn-warning" href="~/InterestsInSchoolSubjects/">
        Отношение к учебным предметам
    </a>
    <a class="text-style btn btn-list-menu btn-success" href="~/EmotioTests/">
        Тест эмоций
    </a>
</div>
</body>
